<table>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Employee Number</th>
		<th>Monthly Consumption</th>
		<th>Actions</th>
	</tr>
	<tr *ngFor="let employee of employees">
		<td>{{employee.id}}</td>
		<td>{{employee.name}}</td>
		<td>{{employee.employee_number}}</td>
		<td>{{employee.monthlyConsumptionValue}}</td>
		<td>
			<a routerLink="/employees/{{employee.id}}">View</a>
			<a routerLink="/employees/{{employee.id}}/edit">Edit</a>
			<a (click)="deleteEmployee(employee)">Delete</a>
		</td>
	</tr>
</table>
<a routerLink="/employees/new">Add Employee</a>