<div class="container">
	<h2>Employee Details</h2>
	<form>
		<div class="form-group">
			<label for="name">Name:</label>
			<input type="text" class="form-control" id="name" [(ngModel)]="employee.name" name="name" disabled>
		</div>
		<div class="form-group">
			<label for="employeeNumber">Employee Number:</label>
			<input type="text" class="form-control" id="employeeNumber" [(ngModel)]="employee.employeeNumber"
				name="employeeNumber" disabled>
		</div>
		<button type="button" class="btn btn-default" routerLink="/employees">Back</button>
	</form>
</div>